@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: aliceblue;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  max-width: 600px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container input[type="radio"] {
  display: none;
}
.container label {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  display: block;
  background-color: #1b7f79;
  color: #fff;
  padding: 0px 10px;
  transition: background 0.5s;
}
.container input:checked + label,
.container label:hover {
  background-color: #ff4858;
}

.ac {
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  color: #333;
  transition: height 0.3s ease-in-out;
  height: 0;
}

.ac p {
  color: #777;
  padding: 20px;
  font-weight: 400;
}

.container input:checked ~ .ac {
  height: 150px;
}
